* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato";
    color: #33475b;
    font-size: 16px;
}

/* Typography */
.content {
    text-align: center;
}

.content-left {
    text-align: left;
}

h1 {
    margin-bottom: 10px;
    font-size: 400%;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
    word-spacing: 2px;
    font-size: 18px;
}

.small {
    font-size: 80%;
}

.t-center {
    text-align: center;
}

/* Utilities section */
/* content mark */
.mark {
    background-color: #00fcc5e0;
    border-bottom: 2px solid #ff7a59;
    height: 500px;
}

.col-mark {
    background-color: #f8a100e0;
    border: 2px solid #5985ff;
    height: 300px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-50 {
    width: 50%;
    margin: 0 auto;
}

.w-50 {
    width: 50%;
}

.w-33 {
    width: calc(100% / 3);
}

.float-left {
    float: left;
}

.box {
    background: #ffffff;
    border-radius: 5px;
    height: 100%;
}

/* Buttons */
.btn {
    display: inline-block;
    border-radius: 5px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ff7a59;
    color: #ffffff;
    padding: 10px 20px;
}

.btn-white {
    background-color: #fff;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    margin-right: 10px;
}

.btn-big {
    padding: 20px 30px;
    font-size: 120%;
}

/* Menu */
.menu-inline {
    list-style: none;
}

.menu-inline li {
    display: inline-block;
}

.menu-inline a {
    text-decoration: none;
}

/* Navbar */
#navbar-fixed {
    position: fixed;
    background: #f5f8fa;
    width: 100%;
    line-height: 80px;
    border-bottom: 1px solid #cbd6e2;
    z-index: 1;
}


#navbar {
    background: #ffffff;
    width: 100%;
    line-height: 80px;
    border-bottom: 1px solid #cbd6e2;
    padding-top: 80px;
}

.navbar-logo {
    margin-left: 100px;
}

.navbar-right {
    text-align: right;
}

/* Common navbar styles */
.lang a {
    padding: 20px;
    color: #666666;
}

.icon {
    color: #2277d8;
    padding-right: 30px;
}

.list {
    color: #33475b;
}

.list li {
    padding-right: 30px;
}

/* Jumbotron */
#jumbotron {
    height: 695px;
}

/* TODO: to fix */
.back {
    background-image: url(../img/jumbotron.png);
    background-color: #fff2ee;
    background-repeat: no-repeat;
    background-size: 1000px cover;
    height: 100%;
    width: 100%;
    background-position: 100%, 100%;
}

.jumbo-div {
    position: relative;
    height: 695px;
    margin-left: 100px;
}

.jumbo-text {
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-20%);
}

/* Hero */
#hero {
    background: #f5f8fa;
    height: 100%;
}

.banner {
    margin: 0 auto;
}

.hero-text {
    margin-bottom: 80px;
}

.banner img {
    height: 200px;
    margin-top: 80px;
}

.hero-content {
    margin-left: 50px;
}

.hero-content img {
    height: 150px;
    display: inline-block;
}

.main-box img {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.hero-content a {
    margin-left: 100px;
    margin-bottom: 30px;
}

.box-text {
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pad-right {
    padding-right: 30px;
}

.main-box {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.first-box {
    margin-left: 100px;
    margin-right: 40px;
    margin-bottom: 50px;
}

.center-box {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}

.last-box {
    margin-right: 100px;
    margin-bottom: 50px;
}

/* DATA GRID */
#data-grid {
    background: #00b8a9;
    height: 900px;
    position: relative;
    color: #ffffff;
}

.grid-text {
    padding-top: 100px;
    line-height: 40px;
}

.grid-text h2 {
    font-size: 200%;
}

.grid-text p {
    padding-top: 20px;
    font-size: 120%;
}

.grid {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-element {
    display: inline-block;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    text-align: center;
    font-size: 400%;
}

.grid-element:nth-child(4) {
    border-right: 0;
}

.bottom-row .grid-element {
    border-bottom: 0;
}

.grid-data-element {
    padding: 30px;
    text-align: center;
}