* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato";
    color: #cccccc;
}

/* Utilities section */

/* content mark */
.mark {
    background-color: #00fcc5e0;
    border-bottom: 2px solid #ff7a59;
    height: 500px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-50 {
    width: 50%;
}

.float-left {
    float: left;
}

.btn {
    display: inline-block;
    border-radius: 5px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ff7a59;
    color: #ffffff;
    padding: 10px 20px;
}

.btn-white {
    background-color: #fff;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    margin-right: 10px;
}

/* Menu */
.menu-inline {
    list-style: none;
}

.menu-inline li {
    display: inline-block;
}

.menu-inline a {
    text-decoration: none;
}

/* Navbar */

.navbar-content {
    text-align: center;
}

#navbar-fixed {
    position: fixed;
    background: #f5f8fa;
    width: 100%;
    line-height: 80px;
    border-bottom: 1px solid #cbd6e2;
    z-index: 1;
}

.lang a {
    padding: 20px;
    color: #666666;
}

.icon {
    color: #2277d8;
    padding-right: 30px;
}